@import '../config/variables';
@import '../config/mixins';

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 50px;

    @include large-mobile {
        margin: 20px 80px;
    }

    @include desktop {
        margin: 20px 200px;
    }
}

.filter {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;

    @include large-mobile {
        font-size: 1.5rem;
    }

    @include desktop {
            font-size: 1.8rem;
    }

    &__select {
        display: flex;
        margin: 5px auto;
        text-transform: uppercase;
    
        @include large-mobile {
            font-size: 1rem;
        }
    
        @include desktop {
             font-size: 1.4rem;   
        }
    }
}