@import '../config/mixins';
@import '../config/variables';

.characters-list {
    @include container;
    margin: 10px auto;
    background-color: $second-color-darken;
    border-radius: .4rem;
    max-width: 300px;

    @include large-mobile {
        max-width: 500px;
    }

    @include desktop {
        max-width: 760px;
    }

    &__header {
        margin-top: 30px;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-align: center;

        @include large-mobile {
            font-size: 2rem;
        }

        @include desktop {
            font-size: 2.8rem;
        }
    }
}

.characters-list li {
    @include container;
    margin: 10px;
    width: 260px;

    @include large-mobile {
        width: 450px;
    }

    @include desktop {
        margin: 20px;
        width: 700px;
    }
    
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img {
        width: 150px;
        margin: 10px;
        border-radius: .4rem;
        border: 2px solid $second-color-darken;

        @include large-mobile {
            width: 200px;
            margin: 20px;
        }

        @include desktop {
            width: 220px;
        }
    }
}

.characters-list__info {
    text-align: center;

    &:last-child {
        margin-bottom: 12px;
    }

    @include large-mobile {
        font-size: 1.6rem;
    }

    @include desktop {
           font-size: 2.2rem; 
    }
}

.name {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;

    @include large-mobile {
        font-size: 2.4rem;
        font-weight: 500;
    }

    @include desktop {
            font-size: 2.8rem;
            font-weight: 600;
    }
}
