@import '../config/variables';
@import '../config/mixins';

.task-list__header {
    display: flex;
    justify-content: center;
    margin: 30px 0;

    @include large-mobile {
        margin: 10px 0;
    }

    & img {
        width: 350px;

        @include large-mobile {
            width: 550px;
        }

        @include desktop {
            width: 800px;
        }
    }
}